.bodystuff {
    list-style-position: inside;
font-family: 'Times New Roman', Times, serif;
margin: 20px;
text-align: center;
}
.imgstyle {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

.ol {
    text-align: left;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.centered-heading {
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
}

.backgroundc {
    background-color: gray;
}